.head-head{
    font-family: Roboto;
font-size: 45px;
font-weight: 400;
line-height: 72px;
letter-spacing: 1px;
text-align: center;
color: #252020;

}
.head-para{
    font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 40px;
text-align: center;
color: #252020;
}